.footer {
	padding: 70px 0 74px;
	background: #FAF8F6;
	&__row {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	&__logo-img {
		display: block;
		width: 85.5px;
		height: 99px;
	}

	&__body {
		width: 100%;
		max-width: 1039px;
		display: flex;
	}

	&__block {
		width: 25%;
		&_shop {
			width: 50%;
		}
	}

	&__title {
		font-size: 18px;
		margin-bottom: 20px;
	}

	&__shop-list {
		display: flex;
	}

	&__list {

	}

	&__item {
		max-width: 180px;
		margin-bottom: 10px;
	}
	&__link {
		line-height: 150%;
		color: rgb(0, 0, 0, 0.5);
		&:hover {
			color: #000;
		}
	}

	&__copy {
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 124px;
		font-size: 12px;
		line-height: 16px;
		color: rgba(0, 0, 0, 0.3);
	}
}