.header__nav,
.header__row,
.cart__header,
.cart__btn,
.item-cart__image-wrap,
.item-cart__amount,
.item-cart__footer,
.checkbox__custom,
.menu__header,
.item-cart__select {
	@include d-flex-center;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	overflow: hidden;
	&_white {
		background: #fff;
		border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	}
	&__row {
		height: 110px;
		justify-content: space-between;
		padding: 5px 0;
	}
	&__logo-icon {
		width: 42px;
		height: 50px;
	}
	&__link {
		margin: 0 36px 0 0;
		&:hover {
			transform: scale(1.1);
		}
		&._profile {
			img {
				width: 26px;
				height: 26px;
			}
		}
		&._cart {
			position: relative;
			span {
				position: absolute;
				top: -3px;
				right: -5px;
				width: 15px;
				height: 15px;
				border: 3px solid #fff;
				border-radius: 100%;
				background: $orange;
			}
			img {
				width: 22px;
				height: 26px;
			}
		}
	}
}

.burger,
.menu,
.submenu {
	display: none;
}

.cart-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	z-index: -1;
	opacity: 0;
	visibility: visible;
	transition: all 0.2s;
	pointer-events: none;
	&._active {
		visibility: visible;
		opacity: 1;
		z-index: 9;
		left: 0;
	}
}

.cart {
	position: fixed;
	right: -100%;
	top: 0;
	height: 100%;
	width: 500px;
	background: #fff;
	transition: all .2s;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	display: flex;
	flex-direction: column;
	&._active {
		right: 0;
		z-index: 10;
		opacity: 1;
		visibility: visible;
	}
	&__header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 110px;
		justify-content: space-between;
		padding: 10px 40px 10px 30px;
		border-bottom: 1px solid rgb(0, 0, 0, 0.07);
		background: #fff;
		z-index: 3;
	}
	&__body {
		flex: 1 1 auto;
		min-height: 100vh;
		overflow: auto;
	}
	&__title {
		font-weight: 500;
		font-size: 26px;
		line-height: 31px;
	}
	&__close {
		width: 16px;
		height: 16px;
		&:hover {
			transform: rotate(90deg);
		}
	}
	&__list {
		padding: 110px 0 125px;
		flex: 1 1 auto;
	}
	&__footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 30px;
		background: #fff;
	}
	&__btn {
		justify-content: center;
		font-size: 20px;
		line-height: 24px;
		padding: 20px 15px;
		&-point {
			width: 6px;
			height: 6px;
			background: #fff;
			margin: 0 16px;
			border-radius: 100%;
		}
	}
}

.item-cart {
	padding: 30px;
	display: flex;
	align-items: center;
	&__image-wrap {
		border-radius: 8px;
		height: 174px;
		justify-content: center;
		margin: 0 25px 0 0;
		flex: 0 0 120px;
		&._pink {
			background: #DA91E0;
		}
		&._purple {
			background: #9C91E0;
		}
	}
	&__image {
		display: block;
		width: 100%;
	}
	&__body {
		width: 100%;
	}
	&__head {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		font-size: 20px;
		line-height: 24px;
		max-width: 241px;
		margin-bottom: 15px;
	}
	&__del {
		display: block;
		width: 12px;
		height: 12px;
		margin: 5px 11px 0 0;
	}
	&__amount {
		justify-content: space-between;
		padding: 0 0 15px 0;
		border-bottom: 1px solid #F2F2F2;
		margin-bottom: 15px;
	}
	&__price {
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
	}
	&__footer {
		font-size: 12px;
		line-height: 16px;
		color: rgb(0, 0, 0, 0.5);
	}
	&__select-text {
		margin: 0 0 0 10px;
	}
}

.checkbox {
	margin: 0 10px 0 0;
	&__custom {
		position: relative;
		padding: 0 0 0 26px;
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0px;
			width: 16px;
			height: 16px;
			border: 1px solid #C7C7C7;
			border-radius: 4px;
			transition: all .2s;
		}
		&::after {
			z-index: 2;
			background: url('@img/icons/check-cart.svg') center/contain no-repeat, #FF7D4E;
			border-color: transparent;
		}
	}

	&__input {
		display: none;
		&:not(:checked) ~ label:after {
			opacity: 0;
			visibility: hidden;
		}	
	}
}

@media (max-width: 991px) {
	.burger,
	.menu,
	.submenu {
		display: block;
	}

	.header {
		position: fixed;
		border-bottom: 2px solid #EDEDED;
		background: #fff;
		z-index: 4;
		&_product {
			background: transparent;
			border: 0;
		}
		&__row {
			height: 70px;
			justify-content: flex-end;
		}
		&__logo {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			&-icon {
				height: 40px;
				width: 33.6px;
			}
		}
		&__link._profile,
		&__btn {
			display: none;
		}
		&__link {
			margin: 0;
			&:hover {
				transform: scale(1);
			}
		}
	}

	.burger {
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		position: fixed;
		top: 25px;
		left: 20px;
		z-index: 10;
		&__icon,
		&__icon::before,
		&__icon::after {
			position: absolute;
			width: 100%;
			height: 2px;
			background: #000;
			z-index: 100;
			transition: .2s all;
		}
		&__icon::before {
			content: "";
			top: -8px;
		}
		&__icon::after {
			content: "";
			top: 8px;
		}
		&._active {
			& .burger {
				&__icon {
					transform: rotate(45deg);
				}
				&__icon::before {
					top: 0;
					transform: rotate(0deg);
				}
				&__icon::after {
					top: 0;
					transform: rotate(90deg);
				}
			}
		}
	}

	.menu,
	.submenu {
		position: fixed;
		top: 0;
		height: 100%;
		width: 100%;
		background: #fff;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		transition: all .2s;
		overflow: auto;
	}
	.menu {
		left: -100%;
		&__header {
			padding: 0 20px;
		}
		&__header, 
		&__list {
			border-bottom: 1px solid rgb(0, 0, 0, 0.07);
		}
		&__header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 70px;
			justify-content: flex-end;
			background: #fff;
		}
		&__body {
			padding-top: 70px;
		}
		&__footer {
			padding: 0 20px 40px;
		}
		&__list {
			margin: 0 0 40px 0;
			padding: 25px 0px;
			&_no-border {
				border: 0;
			}
		}
		&__item  {
			color: #000;
			font-family: 'Effra';
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			padding: 15px 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&_quiz {
				color: #FF7D4E;
			}
			&_red {
				color: #D32D2C;
			}
			&:hover {
				background: rgba(199, 199, 199, 0.1);
			}
		}
		&__email {
			display: block;
			line-height: 19px;
			color: rgb(0, 0, 0, 0.5);
			margin-bottom: 15px;
		}
		&._active {
			visibility: visible;
			opacity: 1;
			left: 0;
			z-index: 8;
		}
	}

	.submenu {
		right: -100%;
		&__header {
			justify-content: center;
		}
		&__back {
			position: absolute;
			top: 20px;
			left: 20px;
			padding: 5px;
		}

		&__title {
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
		}
		& .menu__footer {
			text-align: center;
		}
		&__footer-title {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 15px;
		}
		&__footer-text {
			font-size: 13.7px;
			color: rgba(0, 0, 0, 0.5);
			line-height: 19px;
			margin-bottom: 25px;
		}
		&._active {
			z-index: 11;
			visibility: visible;
			opacity: 1;
			right: 0;
		}
	}

	.cart {
		&__header {
			height: 70px;
		}
		&__title {
			font-size: 20px;
			line-height: 24px;
		}
		&__list {
			padding: 70px 0 86px;
		}
		&__footer {
			padding: 16px 20px 14px;
		}
		&__btn {
			font-size: 16px;
			line-height: 19px;
		}
	}
}

@media (max-width: 575px) {
	.cart-wrapper {
		display: none;
	}
	.cart {
		width: 100%;
		&__header {
			padding: 10px 29px 10px 20px;
		}
		&__btn {
			font-size: 16px;
			line-height: 19px;
		}
		&__btn-point {
			margin: 0px 12px;
		}
	}

	.item-cart {
		padding: 0 20px 0 0;
		border-bottom: 1px solid #fff;
		align-items: flex-start;
		&__image-wrap {
			flex: 0 0 100px;
			height: 204px;
			border-radius: 0;
			margin: 0 20px 0 0;
		}
		&__body {
			padding: 31px 0 0 0;
		}
		&__title {
			font-size: 16px;
			line-height: 19px;
			max-width: 183px;
		}
		&__del {
			margin: 2px 2px 0 15px;
		}
		&__price {
			font-size: 16px;
			line-height: 22px;
		}
	}
}