.login {
	min-height: 100vh;
	@include d-flex-center;
	flex-direction: column;
	justify-content: space-between;
	background: #FAF8F6;
	padding: 30px 0 40px;
	gap: 30px;
	&__logo {
		width: 42px;
		height: 50px;
	}
	&__header {
		display: none;
	}
	&__footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 3px;
		text-align: center;
		padding: 0 20px;
		font-size: 16px;
		line-height: 22px;
	}
	&__link {
		color: #FF7D4E;
		&:hover {
			text-shadow: 0 0 1px #FF7D4E;
		}
	}
}

.form-login {
	width: 100%;
	max-width: 920px;
	background: #fff;
	padding: 60px 20px;
	margin: 0 0 11px;
	&__container {
		margin: 0 auto;
		max-width: 682px;
	}
	&__title,
	&__text,
	&__subtitle,
	&__tab-btn {
		text-align: center;
	}
	&__title {
		font-size: 26px;
		line-height: 31px;
		margin-bottom: 10px;
		&_mb {
			margin-bottom: 40px;
		}
	}
	&__subtitle {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 40px;
		&.lines {
			@include d-flex-center;
			span {
				flex: 0 0 auto;
				margin: 0 30px;
			}
			&::before,
			&::after {
				content: "";
				// position: absolute;
				display: block;
				height: 1px;
				width: 40%;
				top: 50%;
				background-color: $black007;
			}
			&::before {
				left: 0;
			}
			&::after {
				right: 0;
			}
		}
	}
	&__text {
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	&__input-container {
		max-width: 444px;
		margin: 0 auto;
	}
	&__input-wrap {
		margin-bottom: 13px;
		position: relative;
		p {
			color: $black03;
		}
	}
	&__input {
		&::placeholder {
			color: $black03;
		}
	}
	&__forgot-link {
		line-height: 19px;
		color: $black05;
		position: absolute;
		right: 24px;
		top: 50%;
		transform: translateY(-50%);
		&:hover {
			color: #000;
		}
	}
	&__btn {
		font-family: 'Effra';
		display: block;
		width: 100%;
		max-width: 270px;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		color: #FFFFFF;
		text-align: center;
		background: #FF7D4E;
		border-radius: 100px;
		margin: 0 auto;
		padding: 20px;
		transition: .2s;
		&_create {
			max-width: 100%;
			margin: 20px 0 0px;
		}
		&.mb {
			margin-bottom: 40px;
		}
		&:hover {
			box-shadow: 0 0 5px $black05;
			text-shadow: 0 0 2px $black05;
		}
	}
	&__tab {
		border: 1px solid #E6E6E6;
		border-radius: 16px;
		display: flex;
		align-items: center;
		position: relative;
		margin-bottom: 60px;
		&-btn {
			padding: 33px 20px 32px;
			font-family: 'Effra';
			font-weight: 500;
			background:transparent;
			width: 50%;
			font-size: 20px;
			line-height: 24px;
			position: relative;
			z-index: 1;
			transition: .3s all;
		}
	}
	&__tab-indicator-wrap {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 100%;
		width: calc(100% - 24px);
	}
	&__tab-indicator {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 50%;
		height: 65px;
		background: #FF7D4E;
		border-radius: 12px;
		transition: .3s all;
	}
	&__social-wrap,
	&__social-btn {
		@include d-flex-center;
	}
	&__social-wrap {
		justify-content: space-between;
		gap: 10px;
		margin-bottom: 40px;
		&.mb0 {
			margin-bottom: 0;
		}
	}
	&__social-btn {
		width: 100%;
		max-width: 206px;
		padding: 16px 16px 17px;
		font-family: 'Effra';
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		background: #FAF8F6;
		border-radius: 12px;
		cursor: pointer;
		outline: 2px solid transparent;
		transition: .3s;
		p {
			width: 100%;
		}
		&:hover {
			box-shadow: 0 0 10px #FF7D4E;
			outline-color: #FF7D4E;
			background: #fff;
		}
	}
	&__social-icon {
		width: 32px;
		height: 32px;
	}
}
.tab-btn {
	&._active {
		color: #fff;
	}
}
.tab-content {
	display: none;
	&._active {
		display: block;
	}
}

@media ($width575) {
	.login {
		padding: 0 0 40px;
		background: #fff;
		gap: 0;
		&__logo {
			display: none;
		}
		&__header {
			@include d-flex-center;
			justify-content: center;
			padding: 10px 0;
			height: 70px;
			border-bottom: 1px solid $black007;
			width: 100%;
			&-title {
				font-size: 20px;
				line-height: 24px;
			}
			& .submenu__back {
				top: 22px;
				left: 25px;
			}
		}
		&__footer {
			font-size: 14px;
			line-height: 19px;
			&_sign {
				padding: 40px 20px 0;
				width: 100%;
				border-top: 1px solid $black007;
			}
		}
	}

	.form-login {
		padding: 50px 20px 40px;
		margin: 0;
		&__title {
			font-size: 24px;
			line-height: 29px;
			&_mb {
				margin-bottom: 29px;
			}
		}
		&__subtitle {
			font-size: 16px;
			line-height: 19px;
		}
		&__text {
			font-size: 14px;
			line-height: 19px;
		}
		&__btn {
			max-width: 100%;
			font-size: 16px;
			line-height: 19px;
			padding: 18px 20px;
		}
		&__tab {
			margin-bottom: 39px;
		}
		&__tab-btn {
			padding: 24px 25px;
			font-size: 16px;
			line-height: 19px;
		}
		&__tab-indicator-wrap {
			width: calc(100% - 18px);
		}
		&__social-wrap {
			flex-direction: column;
			gap: 12px;
		}
		&__social-btn {
			padding: 18px 16px;
			max-width: 100%;
			font-size: 16px;
			line-height: 19px;
			position: relative;
		}
		&__social-icon {
			position: absolute;
			top: 12px;
			left: 16px;
		}
		&__input-wrap {
			margin-bottom: 8px;
		}
	}
}