.hero,
.body-hero,
.body-hero__links,
.image-hero,
.main__row,
.left-main,
.right-main__item,
.about__row,
.choose__row,
.slider-comments__slide,
.slider-comments__user {
	display: flex;
}

.hero__body,
.hero__image,
.main__left,
.main__right {
	width: 50%;
}

.hero {
	flex: 1 1 auto;
	min-height: 100vh;
	overflow: hidden;
	&__body {
		background: #fff;
	}
	&__image {
		background: #F9F9F9;
	}
}

.body-hero {
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 140px 38px 30px;
	position: relative;
	background: url('@img/hero_left-img-1.svg') 74.4% 0 no-repeat;
	&__row {
		margin: 0 0 120px 0;
	}
	&__title {
		max-width: 660px;
		margin-bottom: 35px;
	}
	&__text {
		max-width: 467px;
		margin-bottom: 51px;
	}
	&__quiz {
		display: block;
		width: 260px;
		margin: 0 33px 0 0;
	}
}

.image-hero {
	align-items: center;
	justify-content: center;
	padding: 140px 0 40px;
	position: relative;
	&__violet-circle,
	&__orange-circle {
		border-radius: 100%;
	}
	&__orange-circle,
	&__image,
	&__absolute-img {
		position: absolute;
	}
	&__violet-circle{
		background: #8172DD;
		width: 523px;
		height: 523px;
		margin: 0 0 100px 0;
	}
	&__orange-circle{
		top: 171px;
		right: 74px;
		height: 95px;
		width: 95px;
		background: #FFCA78;
	}
	&__image {
		width: 100%;
		max-width: 900px;
		right: -124px;
		z-index: 2;
		margin: 97px 0 0 0;
	}
	&__image-wrap {
		display: none;
	}
	&__absolute-img {
		left: 0;
		bottom: 38px;
		z-index: 3;
		transform: translateX(-50%);
		&._m {
			display: none;
		}
	}
}

.left-main {
	background: url('@img/main-left_bg.svg') no-repeat, #8172DD;
	justify-content: flex-end;
	padding: 356px 135px 401px 20px;
	position: relative;
	&__title {
		max-width: 563px;
		color: #fff;
	}
	&__orange-circle {
		position: absolute;
		top: 65px;
		left: 14.1%;
		width: 139px;
		height: 139px;
		background: #FFCA78;
		border-radius: 100%;
	}
}

.right-main {
	padding: 224px 20px 40px 61px;
	background: #fff;
	&__item {
		align-items: center;
		margin: 0 0 128px 0;
		padding: 0 0 0 193px;
		position: relative;
		&-text {
			font-weight: 500;
			font-size: 30px;
			line-height: 36px;
			max-width: 444px;
		}
		&::before {
			position: absolute;
			left: 0;
		}
		&:first-child::before  {
			content: url('@img/icons/main-item-1.svg');
		}
		&:nth-child(2)::before  {
			content: url('@img/icons/main-item-2.svg');
			left: 8px;
		}
		&:last-child {
			margin: 0;
			&::before  {
			content: url('@img/icons/main-item-3.svg');
			left: 9px;
			}
		}
	}
}

.img-main {
	margin-bottom: 118px;
	&__row {
		height: 400px;
	}
	&__big-image,
	&__small-image {
		position: absolute;
	}
	&__big-image {
		background: url('@img/img-main_big.jpg') center/cover no-repeat;
		width: 55.8%;
		max-width: 801px;
		padding: 0 0 32.73% 0;
		left: 34.5%;
		top: -102px;
	}
	&__small-image {
		background: url('@img/img-main_small.jpg') center/cover no-repeat;
		width: 37%;
		max-width: 530px;
		padding: 0 0 31.338% 0;
		left: 20px;
		top: -279px;
		z-index: 1;
	}
}

.about {
	margin-bottom: 152px;
	background: url("../img/about-eclipse.svg") 9% 18px no-repeat, #fff;
	position: relative;
	&__row {
		position: relative;
		text-align: center;
		flex-direction: column;
		align-items: center;
		max-width: 780px;
		margin: 0 auto;
		z-index: 1;
	}
	&__icon {
		display: block;
		margin: 0 0 50px;
		width: 99px;
		height: 99px;
	}
	&__title {
		margin-bottom: 31px;
	}
	&__text {
		margin-bottom: 51px;
	}
	&__circle {
		position: absolute;
		width: 95px;
		height: 95px;
		background: #8172DD;
		right: 12.4%;
		top: 4px;
		border-radius: 100%;
		z-index: 1;
	}
	&__bg-img {
		position: absolute;
		right: 0px;
		top: -241px;
	}
	&__btn {
		margin: 0 0 0 0;
	}
}

.choose {
	position: relative;
	padding: 151px 0 180px;
	margin: 0 0 49px 0;
	&__slider {
		width: 75.045%;
		overflow: hidden;
	}
	&__body {
		position: relative;
		width: 40%;
		margin: 84px 0 0 119px;
	}
	&__body-image {
		position: absolute;
		right: 0;
		top: calc(100% + 75px);
		width: 444px;
		height: 416px;
	}
	&__title,
	&__text,
	& .shop-link {
		color: #fff;
	}
	&__title {
		margin-bottom: 29px;
	}
	&__text {
		margin-bottom: 33px;
	}
	& .shop-link {
		margin: 0 0 0 5px;
		&::after {
			content: url('@img/icons/arrow-r_white.svg');
		}
	}

	&__orange {
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		height: 100%;
		background: #E99478;
		z-index: -1;
	}
}

.slider-choose {
	&__slide {
		padding: 64px 30px 38px;
		border-radius: 16px;
		background: #89D4A7;
		cursor: pointer;
		transition: .3s;
		&:hover {
			box-shadow: inset 0 0 6px #9C91E0;
		}
		&_violet {
			background: #9C91E0;
			&:hover {
				box-shadow: inset 0 0 20px #89D4A7;
			}
		}
	}
	&__image-wrapper {
		margin-bottom: 52px;
	}
	&__image {
		display: block;
		max-width: 100%;
		height: 100%;
		object-fit: cover;
		margin: 0 auto;
	}
	&__category {
		font-weight: 600;
		line-height: 19px;
		color: rgb(255, 255, 255, 0.5);
		margin-bottom: 13px;
	}
	&__title {
		color: #fff;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 17px;
	}
	&__text {
		font-size: 16px;
		line-height: 163.42%;
		color: rgb(255, 255, 255, 0.7);
	}
}

.comments {
	margin-bottom: 100px;
	&__head {
		max-width: 670px;
		margin-bottom: 80px;
	}
	&__icon {
		width: 86px;
		height: 97.7px;
		margin-bottom: 41px;
	}
	&__title {
		margin-bottom: 31px;
	}
}

.slider-comments {
	overflow: hidden;
	height: 360px;
	&__slide {
		background: #FAF8F6;
		border-radius: 16px;
		padding: 40px 30px 30px 32px;
		flex-direction: column;
	}
	&__body {
		flex: 1 1 auto;
	}
	&__rating {
		margin-bottom: 20px;
	}
	&__title {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 14px;
	}
	&__text {
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	&__user {
		align-items: center;
	}
	&__image-wrap {
		border-radius: 100%;
		overflow: hidden;
		height: 48px;
		width: 48px;
		margin: 0 15px 0 0;
	}
	&__image {
		display: block;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__name {
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
	}
}

.ready {
	position: relative;
	margin-bottom: 100px;
	& .about {
		&__row {
			max-width: 900px;
		}
		&__icon {
			width: 97px;
			height: 89.5px;
			margin: 0 0 49px;
		}
		&__title {
			margin-bottom: 37px;
		}
		&__text {
			margin-bottom: 50px;
		}
		&__btn {
			margin-bottom: 31px;
		}
	}

	&__eclipse {
		position: absolute;
		&_1 {
			top: 90px;
			left: 6.9%;
		}
		&_2 {
			top: -22px;
			right: 0;
		}
	}

}


@media (min-width: 1920px) {
	.body-hero {
		&__title {
			max-width: 700px;
		}
	}
	.image-hero {
		&__image {
			right: calc(50% - 150px);
			transform: translate(50%);
		}
	}
}
@media (max-width: 1220px) {
	.hero {
		min-height: 100%;
		flex-direction: column;
		&__body,
		&__image {
			width: 100%;
			background: #fff;
		}
	}

	.body-hero {
		align-items: center;
		text-align: center;
		padding: 220px 38px 30px;
		background: url(../img/hero_left-img-1_m.svg) 100% 87% no-repeat;
		&__row {
			margin: 0;
		}
		&__text {
			margin: 0 auto 48px;
		}
		&__links {
			align-items: center;
			flex-direction: column;
		}
		&__quiz {
			margin: 0 0 15px 0;
		}
	}

	.image-hero {
		padding: 0 0 11px 0;
		&__violet-circle,
		&__orange-circle,
		&__absolute-img._pc {
			display: none;
		}
		&__absolute-img {
			&._m {
				display: block;
			}
		}
		&__image {
			margin: 0;
			position: static;
			transform: translateX(120px);
		}
		&__absolute-img {
			top: 7px;
			transform: translateX(0);
		}
	}

	.left-main {
		padding: 150px 20px;
		align-items: center;
		&__orange-circle {
			top: 40px;
			width: 60px;
			height: 60px;
		}
	}

	.right-main {
		padding: 100px 20px;
		&__item {
			padding: 0 0 0 150px;
		}
	}

	.img-main {
		&__big-image {
			top: 0;
			left: auto;
			right: 60px;
		}
		&__small-image {
			top: -60px;
			left: 60px;
		}
	}

	.about {
		margin-bottom: 45px;
	}

	.choose {
		padding: 59px 0;
		& .container {
			padding: 0;
		}
		&__row {
			flex-direction: column-reverse;
		}
		&__body-image {
			display: none;
		}
		&__slider,
		&__body {
			padding: 0 20px;
			margin: 0;
			width: 100%;
		}
		&__body {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 0 33px 0;
		}
		&__text {
			max-width: 700px;
		}
		&__orange {
			width: 100%;
			height: 56%;
		}
		& .shop-link {
			margin: 0;
		}
	}

	.comments {
		margin-bottom: 58px;
		&__head {
			margin: 0 auto 80px;
			text-align: center;
		}
		&__list {
			& .container {
				padding: 0;
			}
		}
	}

	.slider-comments {
		padding: 0 20px;
		&__slide {
			width: 400px;
		}
	}
}
@media (max-width: 991px) {
	.main {
		&__row {
			flex-direction: column;
		}
		&__left,
		&__right {
			width: 100%;
		}
	}

	.left-main {
		justify-content: center;
		padding: 70px 20px;
		&__title {
			text-align: center;
		}
		&__orange-circle {
			top: -30px;
			left: calc(100% - 77px);
		}
	}

	.right-main {
		padding: 43px 20px 63px;
		&__item {
			margin-bottom: 46px;
		}
	}
	.img-main {
		margin-bottom: 50px;
		padding: 50px 0;
		&__big-image {
			top: 6px;
			right: 0;
			width: 78.2%;
			padding: 0 0 45.56% 0;
		}
		&__small-image {
			left: 0;
			width: 53.9%;
			padding: 0 0 46.2% 0;
		}
	}

	.about {
		background: #fff;
		&__circle {
			right: 0;
			width: 30px;
			height: 60px;
			border-radius: 60px 0 0 60px;
		}
		&__bg-img {
			top: 0;
		}
	}

	.slider-choose {
		&__slide {
			width: 400px;
		}
	}

	.ready {
		margin-bottom: 59px;
		& .about {
			&__icon {
				width: 49.8px;
				height: 46px;
				margin: 0 0 30px;
			}
			&__title {
				margin-bottom: 14px;
			}
			&__text {
				margin-bottom: 21px;
			}
			&__btn {
				margin-bottom: 15px;
			}
		}
		&__eclipse {
			&_1 {
				top: calc(100% + 40px);
				left: auto;
				right: -4px;
				z-index: 1;
			}
			&_2 {
				right: auto;
				left: 0;
				top: -15px;
			}
		}
	}
}
@media (max-width: 575px) {
	.body-hero {
		padding: 110px 20px 33px;
		&__title {
			margin-bottom: 15px;
		}
		&__text {
			margin-bottom: 19px;
		}
		&__quiz {
			width: 154px;
		}
	}

	.image-hero {
		&__block {
			background: #000;
			height: 303px;
		}
		&__image {
			transform: translateX(90px);
		}
	}
	.right-main {
		&__item {
			padding: 0 0 0 72px;
			&-text {
			font-size: 14px;
			line-height: 17px;
			}
			&:first-child::before  {
				content: url('@img/icons/main-item-1_m.svg');
			}
			&:nth-child(2)::before  {
				content: url('@img/icons/main-item-2_m.svg');
				left: 4px;
			}
			&:last-child::before  {
				content: url('@img/icons/main-item-3_m.svg');
				left: 4px;
			}
		}
	}

	.img-main {
		margin-bottom: 36px;
		&__row {
			height: 200px;
		}
	}

	.about {
		&__icon {
			width: 50px;
			height: 50px;
		}
	}

	.choose {
		margin: 0 0 2px 0;
		&__title {
			margin-bottom: 13px;
		}
		&__text {
			margin-bottom: 18px;
		}
		& .shop-link {
			&::after {
				content: url("@img/icons/arrow-r_white_m.svg");
			}
		}
	}

	.slider-choose__slide,
	.slider-comments__slide {
		width: 100%;
		max-width: 335px;
		min-width: 280px;
	}

	.slider-choose {
		&__slide {
			padding: 30px 20px;
		}
		&__image-wrapper {
			height: 162px;
			margin-bottom: 24px;
		}
		&__category {
			font-size: 12px;
			line-height: 16px;
		}
		&__title {
			font-size: 18px;
			line-height: 22px;
		}
		&__text {
			font-size: 14px;
			line-height: 19px;
		}
	}

	.comments {
		&__head {
			margin: 0 auto 34px;
		}
		&__icon {
			width: 50px;
			height: 56.8px;
			margin-bottom: 26px;
		}
		&__title {
			margin-bottom: 10px;
		}
	}

	.slider-comments {
		&__slide {
			padding: 30px 20px 23px 20px;
		}
		&__rating {
			margin-bottom: 13px;
		}
		&__title {
			font-size: 16px;
			line-height: 19px;
		}
		&__text {
			font-size: 14px;
			line-height: 24px;
		}
		&__name {
			font-size: 14px;
			line-height: 19px;			
		}
	}
}
@media (max-width: 375px) {
	.image-hero {
		&__image {
			display: none;
		}
		&__image-wrap {
			display: block;
			background: url('../img/hero__image_mob.png') 0 0/100% no-repeat;
			height: 292px;
			width: 100%;
		}
	}
	.left-main {
		background-image: url('@img/main-left_bg_m.svg');
		background-size: cover;
		background-position: center;
	}

	.img-main {
		padding: 50px 0 0;
		&__big-image {
			background-image: url('@img/img-main_big_mob.jpg');
		}
		&__small-image {
			background-image: url('@img/img-main_small_mob.jpg');
		}
	}

	.about {
		&__title {
			margin-bottom: 15px;
		}
		&__text {
			margin-bottom: 27px;
		}
		&__icon {
			margin: 0 0 30px;
		}
		&__circle {
			top: -35px;
		}
		&__bg-img {
			top: 129px;
		}
	}
}