@charset "UTF-8";
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Bold.woff") format("woff"), url("../fonts/Effra-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Medium.woff") format("woff"), url("../fonts/Effra-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Regular.woff") format("woff"), url("../fonts/Effra-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

.select {
  position: relative;
}
.select__current, .select__item {
  color: #000;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
.select__header {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  background: #F5F5F5;
  border-radius: 4px;
  height: 30px;
  width: 60px;
}
.select__header:hover {
  box-shadow: 0 0 3px #000;
}
.select__current {
  margin: 0 9px 0 0;
}
.select__icon {
  display: block;
  transition: 0.3s;
  width: 10px;
  aspect-ratio: 10/6.25;
}
.select__body {
  right: 0;
  top: calc(100% + 5px);
  width: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 2;
  background: #fff;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
}
.select__item {
  cursor: pointer;
  padding: 10px;
  text-align: center;
}
.select__item:hover {
  background: #FF7D4E;
  color: #fff;
}
.select._active .select__body {
  opacity: 1;
  visibility: visible;
}
.select._active .select__header {
  border-color: #337D5A;
}
.select._active .select__icon {
  transform: rotate(180deg);
}

@media (max-width: 575px) {
  .select__header {
    width: 38px;
  }
  .select__current {
    margin: 0;
  }
  .select__icon {
    display: none;
  }
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  color: #000;
  font-family: "OpenSans";
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Effra";
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body._lock {
  overflow: hidden;
}

.wrapper {
  max-width: 2560px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1436px;
  padding: 0 20px;
}
.container_header {
  max-width: 1800px;
  padding: 0 30px 0 35px;
}
.container_main {
  position: relative;
}

.big-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 68px;
}
.big-title span {
  color: #F27E58;
}

.text {
  font-size: 20px;
  line-height: 163.4%;
  color: #808080;
}

.btn {
  font-family: "Effra";
  color: #fff;
  padding: 17px 15px;
  border-radius: 100px;
  background: #FF7D4E;
  font-size: 23px;
  line-height: 169%;
  font-weight: 700;
  text-align: center;
  display: block;
}
.btn_violet {
  background: #6E5DDC;
}
.btn_quiz {
  padding: 15.5px;
  font-size: 16px;
  line-height: 19px;
  width: 154px;
}
.btn:hover {
  box-shadow: 0 0 10px #808080;
}

.shop-link {
  font-family: "Effra";
  color: #F27E58;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}
.shop-link::after {
  content: url("../img/icons/arrow-r.svg");
  display: block;
  margin: 4px 0 0 0;
}
.shop-link:hover {
  gap: 15px;
}

.copy {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.3);
}

.quantity {
  display: flex;
}
.quantity__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #F5F5F5;
  border-radius: 100%;
  border: 1px solid transparent;
}
.quantity__btn:hover {
  border-color: rgba(0, 0, 0, 0.1);
}
.quantity__input {
  text-align: center;
  width: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.not-found {
  padding: 210px 0 100px;
}
.not-found__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.not-found__image-wrap {
  max-width: 490px;
  height: 202px;
  margin-bottom: 80px;
}
.not-found__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.not-found__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 15px;
}
.not-found__text {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
}
.not-found__btn {
  width: 330px;
  padding: 21px 15px;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 991px) {
  .btn:hover {
    box-shadow: none;
  }
  .big-title {
    font-size: 38px;
    line-height: 120.8%;
  }
}
@media (max-width: 767px) {
  .container_header {
    padding: 0 24px;
  }
}
@media (max-width: 575px) {
  .btn {
    font-size: 16px;
    line-height: 19px;
    padding: 17px 15px 16px;
  }
  .big-title {
    font-weight: 500;
  }
  .text {
    font-size: 14px;
  }
  .shop-link {
    font-size: 14px;
  }
  .shop-link::after {
    content: url("../img/icons/arrow-r_m.svg");
    margin: 2px 0 0;
  }
  .quantity__input {
    width: 30px;
  }
  .not-found {
    padding: 130px 0 60px;
  }
  .not-found__image-wrap {
    height: 139px;
    margin-bottom: 29px;
  }
  .not-found__title {
    font-size: 24px;
    line-height: 29px;
  }
  .not-found__text {
    font-size: 14px;
    line-height: 19px;
  }
  .not-found__btn {
    font-size: 16px;
    line-height: 19px;
    padding: 17px 15px 21px;
  }
}
@media (max-width: 375px) {
  .big-title {
    font-size: 24px;
    line-height: 29px;
  }
}
.header__nav,
.header__row,
.cart__header,
.cart__btn,
.item-cart__image-wrap,
.item-cart__amount,
.item-cart__footer,
.checkbox__custom,
.menu__header,
.item-cart__select {
  display: flex;
  align-items: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  overflow: hidden;
}
.header_white {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.header__row {
  height: 110px;
  justify-content: space-between;
  padding: 5px 0;
}
.header__logo-icon {
  width: 42px;
  height: 50px;
}
.header__link {
  margin: 0 36px 0 0;
}
.header__link:hover {
  transform: scale(1.1);
}
.header__link._profile img {
  width: 26px;
  height: 26px;
}
.header__link._cart {
  position: relative;
}
.header__link._cart span {
  position: absolute;
  top: -3px;
  right: -5px;
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  border-radius: 100%;
  background: #F27E58;
}
.header__link._cart img {
  width: 22px;
  height: 26px;
}

.burger,
.menu,
.submenu {
  display: none;
}

.cart-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
  opacity: 0;
  visibility: visible;
  transition: all 0.2s;
  pointer-events: none;
}
.cart-wrapper._active {
  visibility: visible;
  opacity: 1;
  z-index: 9;
  left: 0;
}

.cart {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100%;
  width: 500px;
  background: #fff;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  display: flex;
  flex-direction: column;
}
.cart._active {
  right: 0;
  z-index: 10;
  opacity: 1;
  visibility: visible;
}
.cart__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  justify-content: space-between;
  padding: 10px 40px 10px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  background: #fff;
  z-index: 3;
}
.cart__body {
  flex: 1 1 auto;
  min-height: 100vh;
  overflow: auto;
}
.cart__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
}
.cart__close {
  width: 16px;
  height: 16px;
}
.cart__close:hover {
  transform: rotate(90deg);
}
.cart__list {
  padding: 110px 0 125px;
  flex: 1 1 auto;
}
.cart__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  background: #fff;
}
.cart__btn {
  justify-content: center;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 15px;
}
.cart__btn-point {
  width: 6px;
  height: 6px;
  background: #fff;
  margin: 0 16px;
  border-radius: 100%;
}

.item-cart {
  padding: 30px;
  display: flex;
  align-items: center;
}
.item-cart__image-wrap {
  border-radius: 8px;
  height: 174px;
  justify-content: center;
  margin: 0 25px 0 0;
  flex: 0 0 120px;
}
.item-cart__image-wrap._pink {
  background: #DA91E0;
}
.item-cart__image-wrap._purple {
  background: #9C91E0;
}
.item-cart__image {
  display: block;
  width: 100%;
}
.item-cart__body {
  width: 100%;
}
.item-cart__head {
  display: flex;
  justify-content: space-between;
}
.item-cart__title {
  font-size: 20px;
  line-height: 24px;
  max-width: 241px;
  margin-bottom: 15px;
}
.item-cart__del {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 11px 0 0;
}
.item-cart__amount {
  justify-content: space-between;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: 15px;
}
.item-cart__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.item-cart__footer {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.item-cart__select-text {
  margin: 0 0 0 10px;
}

.checkbox {
  margin: 0 10px 0 0;
}
.checkbox__custom {
  position: relative;
  padding: 0 0 0 26px;
  cursor: pointer;
}
.checkbox__custom::before, .checkbox__custom::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  width: 16px;
  height: 16px;
  border: 1px solid #C7C7C7;
  border-radius: 4px;
  transition: all 0.2s;
}
.checkbox__custom::after {
  z-index: 2;
  background: url("../img/icons/check-cart.svg") center/contain no-repeat, #FF7D4E;
  border-color: transparent;
}
.checkbox__input {
  display: none;
}
.checkbox__input:not(:checked) ~ label:after {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 991px) {
  .burger,
  .menu,
  .submenu {
    display: block;
  }
  .header {
    position: fixed;
    border-bottom: 2px solid #EDEDED;
    background: #fff;
    z-index: 8;
  }
  .header__row {
    height: 70px;
    justify-content: flex-end;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header__logo-icon {
    height: 40px;
    width: 33.6px;
  }
  .header__link._profile, .header__btn {
    display: none;
  }
  .header__link {
    margin: 0;
  }
  .header__link:hover {
    transform: scale(1);
  }
  .burger {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 25px;
    left: 20px;
    z-index: 10;
  }
  .burger__icon, .burger__icon::before, .burger__icon::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: 100;
    transition: 0.2s all;
  }
  .burger__icon::before {
    content: "";
    top: -8px;
  }
  .burger__icon::after {
    content: "";
    top: 8px;
  }
  .burger._active .burger__icon {
    transform: rotate(45deg);
  }
  .burger._active .burger__icon::before {
    top: 0;
    transform: rotate(0deg);
  }
  .burger._active .burger__icon::after {
    top: 0;
    transform: rotate(90deg);
  }
  .menu,
  .submenu {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.2s;
    overflow: auto;
  }
  .menu {
    left: -100%;
  }
  .menu__header {
    padding: 0 20px;
  }
  .menu__header, .menu__list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }
  .menu__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    justify-content: flex-end;
    background: #fff;
  }
  .menu__body {
    padding-top: 70px;
  }
  .menu__footer {
    padding: 0 20px 40px;
  }
  .menu__list {
    margin: 0 0 40px 0;
    padding: 25px 0px;
  }
  .menu__list_no-border {
    border: 0;
  }
  .menu__item {
    color: #000;
    font-family: "Effra";
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__item_quiz {
    color: #FF7D4E;
  }
  .menu__item_red {
    color: #D32D2C;
  }
  .menu__item:hover {
    background: rgba(199, 199, 199, 0.1);
  }
  .menu__email {
    display: block;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
  }
  .menu._active {
    visibility: visible;
    opacity: 1;
    left: 0;
    z-index: 8;
  }
  .submenu {
    right: -100%;
  }
  .submenu__header {
    justify-content: center;
  }
  .submenu__back {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px;
  }
  .submenu__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .submenu .menu__footer {
    text-align: center;
  }
  .submenu__footer-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .submenu__footer-text {
    font-size: 13.7px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 19px;
    margin-bottom: 25px;
  }
  .submenu._active {
    z-index: 11;
    visibility: visible;
    opacity: 1;
    right: 0;
  }
  .cart__header {
    height: 70px;
  }
  .cart__title {
    font-size: 20px;
    line-height: 24px;
  }
  .cart__list {
    padding: 70px 0 86px;
  }
  .cart__footer {
    padding: 16px 20px 14px;
  }
  .cart__btn {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 575px) {
  .cart-wrapper {
    display: none;
  }
  .cart {
    width: 100%;
  }
  .cart__header {
    padding: 10px 29px 10px 20px;
  }
  .cart__btn {
    font-size: 16px;
    line-height: 19px;
  }
  .cart__btn-point {
    margin: 0px 12px;
  }
  .item-cart {
    padding: 0 20px 0 0;
    border-bottom: 1px solid #fff;
    align-items: flex-start;
  }
  .item-cart__image-wrap {
    flex: 0 0 100px;
    height: 204px;
    border-radius: 0;
    margin: 0 20px 0 0;
  }
  .item-cart__body {
    padding: 31px 0 0 0;
  }
  .item-cart__title {
    font-size: 16px;
    line-height: 19px;
    max-width: 183px;
  }
  .item-cart__del {
    margin: 2px 2px 0 15px;
  }
  .item-cart__price {
    font-size: 16px;
    line-height: 22px;
  }
}
.hero,
.body-hero,
.body-hero__links,
.image-hero,
.main__row,
.left-main,
.right-main__item,
.about__row,
.choose__row,
.slider-comments__slide,
.slider-comments__user {
  display: flex;
}

.hero__body,
.hero__image,
.main__left,
.main__right {
  width: 50%;
}

.hero {
  flex: 1 1 auto;
  min-height: 100vh;
  overflow: hidden;
}
.hero__body {
  background: #fff;
}
.hero__image {
  background: #F9F9F9;
}

.body-hero {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 140px 38px 30px;
  position: relative;
  background: url("../img/hero_left-img-1.svg") 74.4% 0 no-repeat;
}
.body-hero__row {
  margin: 0 0 120px 0;
}
.body-hero__title {
  max-width: 660px;
  margin-bottom: 35px;
}
.body-hero__text {
  max-width: 467px;
  margin-bottom: 51px;
}
.body-hero__quiz {
  display: block;
  width: 260px;
  margin: 0 33px 0 0;
}

.image-hero {
  align-items: center;
  justify-content: center;
  padding: 140px 0 40px;
  position: relative;
}
.image-hero__violet-circle, .image-hero__orange-circle {
  border-radius: 100%;
}
.image-hero__orange-circle, .image-hero__image, .image-hero__absolute-img {
  position: absolute;
}
.image-hero__violet-circle {
  background: #8172DD;
  width: 523px;
  height: 523px;
  margin: 0 0 100px 0;
}
.image-hero__orange-circle {
  top: 171px;
  right: 74px;
  height: 95px;
  width: 95px;
  background: #FFCA78;
}
.image-hero__image {
  width: 100%;
  max-width: 900px;
  right: -124px;
  top: calc(30% - 37px);
  z-index: 2;
  margin: 97px 0 0 0;
}
.image-hero__image-wrap {
  display: none;
}
.image-hero__absolute-img {
  left: 0;
  bottom: 38px;
  z-index: 3;
  transform: translateX(-50%);
}
.image-hero__absolute-img._m {
  display: none;
}

.left-main {
  background: url("../img/main-left_bg.svg") no-repeat, #8172DD;
  justify-content: flex-end;
  padding: 356px 135px 401px 20px;
  position: relative;
}
.left-main__title {
  max-width: 563px;
  color: #fff;
}
.left-main__orange-circle {
  position: absolute;
  top: 65px;
  left: 14.1%;
  width: 139px;
  height: 139px;
  background: #FFCA78;
  border-radius: 100%;
}

.right-main {
  padding: 224px 20px 40px 61px;
  background: #fff;
}
.right-main__item {
  align-items: center;
  margin: 0 0 128px 0;
  padding: 0 0 0 193px;
  position: relative;
}
.right-main__item-text {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  max-width: 444px;
}
.right-main__item::before {
  position: absolute;
  left: 0;
}
.right-main__item:first-child::before {
  content: url("../img/icons/main-item-1.svg");
}
.right-main__item:nth-child(2)::before {
  content: url("../img/icons/main-item-2.svg");
  left: 8px;
}
.right-main__item:last-child {
  margin: 0;
}
.right-main__item:last-child::before {
  content: url("../img/icons/main-item-3.svg");
  left: 9px;
}

.img-main {
  margin-bottom: 118px;
}
.img-main__row {
  height: 400px;
}
.img-main__big-image, .img-main__small-image {
  position: absolute;
}
.img-main__big-image {
  background: url("../img/img-main_big.jpg") center/cover no-repeat;
  width: 55.8%;
  max-width: 801px;
  padding: 0 0 32.73% 0;
  left: 34.5%;
  top: -102px;
}
.img-main__small-image {
  background: url("../img/img-main_small.jpg") center/cover no-repeat;
  width: 37%;
  max-width: 530px;
  padding: 0 0 31.338% 0;
  left: 20px;
  top: -279px;
  z-index: 1;
}

.about {
  margin-bottom: 152px;
  background: url("../img/about-eclipse.svg") 9% 18px no-repeat, #fff;
  position: relative;
}
.about__row {
  position: relative;
  text-align: center;
  flex-direction: column;
  align-items: center;
  max-width: 780px;
  margin: 0 auto;
  z-index: 1;
}
.about__icon {
  display: block;
  margin: 0 0 50px;
  width: 99px;
  height: 99px;
}
.about__title {
  margin-bottom: 30px;
}
.about__text {
  margin-bottom: 51px;
}
.about__circle {
  position: absolute;
  width: 95px;
  height: 95px;
  background: #8172DD;
  right: 12.4%;
  top: 4px;
  border-radius: 100%;
  z-index: 1;
}
.about__bg-img {
  position: absolute;
  right: 0px;
  top: -241px;
}
.about__btn {
  margin: 0 0 0 0;
}

.choose {
  position: relative;
  padding: 151px 0 180px;
  margin: 0 0 49px 0;
}
.choose__slider {
  width: 75.045%;
  overflow: hidden;
}
.choose__body {
  position: relative;
  width: 40%;
  margin: 84px 0 0 119px;
}
.choose__body-image {
  position: absolute;
  right: 0;
  top: calc(100% + 75px);
  width: 444px;
  height: 416px;
}
.choose__title, .choose__text, .choose .shop-link {
  color: #fff;
}
.choose__title {
  margin-bottom: 29px;
}
.choose__text {
  margin-bottom: 33px;
}
.choose .shop-link {
  margin: 0 0 0 5px;
}
.choose .shop-link::after {
  content: url("../img/icons/arrow-r_white.svg");
}
.choose__orange {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #E99478;
  z-index: -1;
}

.slider-choose__slide {
  padding: 64px 30px 38px;
  border-radius: 16px;
  background: #89D4A7;
  cursor: pointer;
  transition: 0.3s;
}
.slider-choose__slide:hover {
  box-shadow: inset 0 0 6px #9C91E0;
}
.slider-choose__slide_violet {
  background: #9C91E0;
}
.slider-choose__slide_violet:hover {
  box-shadow: inset 0 0 20px #89D4A7;
}
.slider-choose__image-wrapper {
  margin-bottom: 52px;
}
.slider-choose__image {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}
.slider-choose__category {
  font-weight: 600;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 13px;
}
.slider-choose__title {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 17px;
}
.slider-choose__text {
  font-size: 16px;
  line-height: 163.42%;
  color: rgba(255, 255, 255, 0.7);
}

.comments {
  margin-bottom: 100px;
}
.comments__head {
  max-width: 670px;
  margin-bottom: 80px;
}
.comments__icon {
  width: 86px;
  height: 97.7px;
  margin-bottom: 41px;
}
.comments__title {
  margin-bottom: 31px;
}

.slider-comments {
  overflow: hidden;
  height: 360px;
}
.slider-comments__slide {
  background: #FAF8F6;
  border-radius: 16px;
  padding: 40px 30px 30px 32px;
  flex-direction: column;
}
.slider-comments__body {
  flex: 1 1 auto;
}
.slider-comments__rating {
  margin-bottom: 20px;
}
.slider-comments__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
}
.slider-comments__text {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
}
.slider-comments__user {
  align-items: center;
}
.slider-comments__image-wrap {
  border-radius: 100%;
  overflow: hidden;
  height: 48px;
  width: 48px;
  margin: 0 15px 0 0;
}
.slider-comments__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.slider-comments__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.ready {
  position: relative;
  margin-bottom: 100px;
}
.ready .about__row {
  max-width: 900px;
}
.ready .about__icon {
  width: 97px;
  height: 89.5px;
  margin: 0 0 49px;
}
.ready .about__title {
  margin-bottom: 37px;
}
.ready .about__text {
  margin-bottom: 50px;
}
.ready .about__btn {
  margin-bottom: 31px;
}
.ready__eclipse {
  position: absolute;
}
.ready__eclipse_1 {
  top: 90px;
  left: 6.9%;
}
.ready__eclipse_2 {
  top: -22px;
  right: 0;
}

@media (min-width: 1920px) {
  .body-hero__title {
    max-width: 700px;
  }
  .image-hero__image {
    right: calc(50% - 150px);
    transform: translate(50%);
  }
}
@media (max-width: 1220px) {
  .hero {
    min-height: auto;
    flex-direction: column;
  }
  .hero__body, .hero__image {
    width: 100%;
    background: #fff;
  }
  .body-hero {
    align-items: center;
    text-align: center;
    padding: 220px 38px 30px;
    background: url(../img/hero_left-img-1_m.svg) 100% 87% no-repeat;
  }
  .body-hero__row {
    margin: 0;
  }
  .body-hero__text {
    margin: 0 auto 48px;
  }
  .body-hero__links {
    align-items: center;
    flex-direction: column;
  }
  .body-hero__quiz {
    margin: 0 0 15px 0;
  }
  .image-hero {
    padding: 0 0 11px 0;
  }
  .image-hero__violet-circle, .image-hero__orange-circle, .image-hero__absolute-img._pc {
    display: none;
  }
  .image-hero__absolute-img._m {
    display: block;
  }
  .image-hero__image {
    margin: 0;
    position: static;
    transform: translateX(120px);
  }
  .image-hero__absolute-img {
    top: 7px;
    transform: translateX(0);
  }
  .left-main {
    padding: 150px 20px;
    align-items: center;
  }
  .left-main__orange-circle {
    top: 40px;
    width: 60px;
    height: 60px;
  }
  .right-main {
    padding: 100px 20px;
  }
  .right-main__item {
    padding: 0 0 0 150px;
  }
  .img-main__big-image {
    top: 0;
    left: auto;
    right: 60px;
  }
  .img-main__small-image {
    top: -60px;
    left: 60px;
  }
  .about {
    margin-bottom: 45px;
  }
  .choose {
    padding: 59px 0;
  }
  .choose .container {
    padding: 0;
  }
  .choose__row {
    flex-direction: column-reverse;
  }
  .choose__body-image {
    display: none;
  }
  .choose__slider, .choose__body {
    padding: 0 20px;
    margin: 0;
    width: 100%;
  }
  .choose__body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 33px 0;
  }
  .choose__text {
    max-width: 700px;
  }
  .choose__orange {
    width: 100%;
    height: 56%;
  }
  .choose .shop-link {
    margin: 0;
  }
  .comments {
    margin-bottom: 58px;
  }
  .comments__head {
    margin: 0 auto 80px;
    text-align: center;
  }
  .comments__list .container {
    padding: 0;
  }
  .slider-comments {
    padding: 0 20px;
  }
  .slider-comments__slide {
    width: 400px;
  }
}
@media (max-width: 991px) {
  .main__row {
    flex-direction: column;
  }
  .main__left, .main__right {
    width: 100%;
  }
  .left-main {
    justify-content: center;
    padding: 70px 20px;
  }
  .left-main__title {
    text-align: center;
  }
  .left-main__orange-circle {
    top: -30px;
    left: calc(100% - 77px);
  }
  .right-main {
    padding: 43px 20px 63px;
  }
  .right-main__item {
    margin-bottom: 46px;
  }
  .img-main {
    margin-bottom: 50px;
    padding: 50px 0;
  }
  .img-main__big-image {
    top: 6px;
    right: 0;
    width: 78.2%;
    padding: 0 0 45.56% 0;
  }
  .img-main__small-image {
    left: 0;
    width: 53.9%;
    padding: 0 0 46.2% 0;
  }
  .about {
    background: #fff;
  }
  .about__circle {
    right: 0;
    width: 30px;
    height: 60px;
    border-radius: 60px 0 0 60px;
  }
  .about__bg-img {
    top: 0;
  }
  .slider-choose__slide {
    width: 400px;
  }
  .ready {
    margin-bottom: 59px;
  }
  .ready .about__icon {
    width: 49.8px;
    height: 46px;
    margin: 0 0 30px;
  }
  .ready .about__title {
    margin-bottom: 14px;
  }
  .ready .about__text {
    margin-bottom: 21px;
  }
  .ready .about__btn {
    margin-bottom: 15px;
  }
  .ready__eclipse_1 {
    top: calc(100% + 40px);
    left: auto;
    right: -4px;
    z-index: 1;
  }
  .ready__eclipse_2 {
    right: auto;
    left: 0;
    top: -15px;
  }
}
@media (max-width: 575px) {
  .body-hero {
    padding: 110px 20px 33px;
  }
  .body-hero__title {
    margin-bottom: 15px;
  }
  .body-hero__text {
    margin-bottom: 19px;
  }
  .body-hero__quiz {
    width: 154px;
  }
  .image-hero__block {
    background: #000;
    height: 303px;
  }
  .image-hero__image {
    transform: translateX(90px);
  }
  .right-main__item {
    padding: 0 0 0 72px;
  }
  .right-main__item-text {
    font-size: 14px;
    line-height: 17px;
  }
  .right-main__item:first-child::before {
    content: url("../img/icons/main-item-1_m.svg");
  }
  .right-main__item:nth-child(2)::before {
    content: url("../img/icons/main-item-2_m.svg");
    left: 4px;
  }
  .right-main__item:last-child::before {
    content: url("../img/icons/main-item-3_m.svg");
    left: 4px;
  }
  .img-main {
    margin-bottom: 36px;
  }
  .img-main__row {
    height: 200px;
  }
  .about__icon {
    width: 50px;
    height: 50px;
  }
  .choose {
    margin: 0 0 2px 0;
  }
  .choose__title {
    margin-bottom: 13px;
  }
  .choose__text {
    margin-bottom: 18px;
  }
  .choose .shop-link::after {
    content: url("../img/icons/arrow-r_white_m.svg");
  }
  .slider-choose__slide,
  .slider-comments__slide {
    width: 100%;
    max-width: 335px;
    min-width: 280px;
  }
  .slider-choose__slide {
    padding: 30px 20px;
  }
  .slider-choose__image-wrapper {
    height: 162px;
    margin-bottom: 24px;
  }
  .slider-choose__category {
    font-size: 12px;
    line-height: 16px;
  }
  .slider-choose__title {
    font-size: 18px;
    line-height: 22px;
  }
  .slider-choose__text {
    font-size: 14px;
    line-height: 19px;
  }
  .comments__head {
    margin: 0 auto 34px;
  }
  .comments__icon {
    width: 50px;
    height: 56.8px;
    margin-bottom: 26px;
  }
  .comments__title {
    margin-bottom: 10px;
  }
  .slider-comments__slide {
    padding: 30px 20px 23px 20px;
  }
  .slider-comments__rating {
    margin-bottom: 13px;
  }
  .slider-comments__title {
    font-size: 16px;
    line-height: 19px;
  }
  .slider-comments__text {
    font-size: 14px;
    line-height: 24px;
  }
  .slider-comments__name {
    font-size: 14px;
    line-height: 19px;
  }
}
@media (max-width: 375px) {
  .image-hero__image {
    display: none;
  }
  .image-hero__image-wrap {
    display: block;
    background: url("../img/hero__image_mob.png") 0 0/100% no-repeat;
    height: 292px;
    width: 100%;
  }
  .left-main {
    background-image: url("../img/main-left_bg_m.svg");
    background-size: cover;
    background-position: center;
  }
  .img-main {
    padding: 50px 0 0;
  }
  .img-main__big-image {
    background-image: url("../img/img-main_big_mob.jpg");
  }
  .img-main__small-image {
    background-image: url("../img/img-main_small_mob.jpg");
  }
  .about__title {
    margin-bottom: 15px;
  }
  .about__text {
    margin-bottom: 27px;
  }
  .about__icon {
    margin: 0 0 30px;
  }
  .about__circle {
    top: -35px;
  }
  .about__bg-img {
    top: 129px;
  }
}
.article {
  padding: 190px 0 100px;
}
.article__row {
  margin: 0 auto;
  max-width: 681px;
}
.article__block {
  margin-bottom: 64px;
}
.article__block:last-child {
  margin: 0;
}
.article__title, .article__subtitle {
  font-weight: 500;
  margin-bottom: 37px;
}
.article__title {
  font-size: 40px;
  line-height: 48px;
}
.article__subtitle {
  font-size: 26px;
  line-height: 31px;
}
.article__item, .article__text {
  font-size: 18px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.5);
}
.article__item_mb, .article__text_mb {
  margin-bottom: 40px;
}
.article__list {
  margin-bottom: 40px;
}
.article__item {
  position: relative;
  padding: 0 0 0 50px;
  margin: 0 0 15px 0;
}
.article__item::before {
  content: "";
  width: 30px;
  height: 2px;
  background: #FF7D4E;
  display: block;
  position: absolute;
  left: 0;
  top: 14px;
}

@media (max-width: 575px) {
  .article {
    padding: 120px 0 34px;
  }
  .article__block {
    margin-bottom: 63px;
  }
  .article__title, .article__subtitle {
    margin-bottom: 28px;
  }
  .article__title {
    font-size: 24px;
    line-height: 29px;
  }
  .article__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .article__list {
    margin-bottom: 30px;
  }
  .article__item, .article__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 29px;
  }
  .article__item {
    padding: 0 0 0 40px;
    margin-bottom: 25px;
  }
  .article__item:last-child {
    margin: 0;
  }
  .article__item::before {
    width: 20px;
  }
}
.footer {
  padding: 70px 0 74px;
  background: #FAF8F6;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer__logo {
  margin: 0 60px 0 0;
}
.footer__logo-img {
  display: block;
  width: 85.5px;
  height: 99px;
}
.footer__body {
  width: 100%;
  max-width: 1039px;
  display: flex;
  justify-content: space-between;
}
.footer__block {
  width: 27%;
}
.footer__block_shop {
  width: 45.8%;
}
.footer__title {
  font-size: 18px;
  margin-bottom: 26px;
}
.footer__shop-list {
  display: flex;
}
.footer__item {
  max-width: 185px;
  margin-bottom: 14px;
}
.footer__link {
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}
.footer__link:hover {
  color: #000;
}
.footer__link._fb, .footer__link._insta {
  display: flex;
}
.footer__link._fb::before, .footer__link._insta::before {
  margin: 0 10px 0 0;
}
.footer__link._fb::before {
  content: url("../img/icons/fb.svg");
}
.footer__link._insta::before {
  content: url("../img/icons/insta.svg");
}
.footer__copy {
  position: absolute;
  bottom: 30px;
  left: 0;
  max-width: 124px;
}

@media (max-width: 991px) {
  .footer {
    padding: 40px 0;
  }
  .footer__row {
    flex-direction: column;
  }
  .footer__logo {
    margin-bottom: 42px;
  }
  .footer__logo-img {
    width: 42px;
    height: 50px;
  }
  .footer__title {
    margin-bottom: 20px;
  }
  .footer__copy {
    position: static;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .footer__shop-list {
    flex-direction: column;
  }
  .footer__body {
    flex-wrap: wrap;
  }
  .footer__block {
    width: 50%;
    margin-bottom: 27px;
  }
  .footer__block_shop {
    width: 50%;
  }
  .footer__block:last-child {
    margin-bottom: 19px;
  }
}